<style>

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
body  { font-family: 'New Rocker', cursive; }


body{
background: url(https://i.pinimg.com/originals/5f/a4/b9/5fa4b9f93778bb5d4448c829fa873d00.jpg);
background-size: contain;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #56b2d6;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #000;
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgb(2 3 37 / 58%) 50%, rgb(0 0 0 / 0%) 50%);
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

nav .top{
background: url(https://i.pinimg.com/564x/43/44/cb/4344cb7bb34c9f9c508c6eb3e69c4e7d.jpg);
background-size: cover;
    background-position-y: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

nav .top .left .logo {
    width: 165px;
    height: 42px;
    filter: drop-shadow(2px 4px 6px black);
}

button, input {
    overflow: visible;
    background: white;
    color: black;
    border: none;
    box-shadow: 0 0 5px white;
}

nav .links{
background: url(https://i.pinimg.com/564x/43/44/cb/4344cb7bb34c9f9c508c6eb3e69c4e7d.jpg);
background-size: cover;
    background-position-y: 85px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    margin-bottom: 20px;
    text-align: center;
}

nav .links a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    font-size: max(0.98em, 12px);
}

nav .links a:hover {
    text-decoration: none;
    color: #008eff;
    font-style: italic;
    font-weight: bold;
}

nav .links li:not(:last-child)::after, footer .links li:not(:last-child)::after {
    content: " | ";
    color: white;
}

main {
    background: transparent;
    color: white;
    padding: 6px 0px;
    font-size: 80%;
}

.profile h1 {
    font-size: x-large;
    margin: 0 0 10px 0;
    text-align: center;
    text-shadow: 3px 3px black;
}

.edit-link {
    font-size: 90%;
    text-align: center;
}

.general-about .profile-pic img {
    max-width: 160px;
    max-height: 160px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

.general-about .details {
    display: block;
    text-shadow: 2px 2px black;
}

.profile .mood{
background: url(https://i.pinimg.com/564x/54/f8/89/54f889536d4a3010a1a5ced5827ca643.jpg);
    text-align: center;
    padding-top: 10px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    margin-bottom: 10px;
    background-position: left;
    text-shadow: 2px 2px black;
}

.profile .contact .heading, .profile .table-section .heading, .setting-section .heading, .home-actions .heading {
margin-bottom: 10px;
}

.profile .contact, .profile .url-info, .profile .table-section, .setting-section, .home-actions {
    width: 100%;
    border: 1px solid white;
    margin: 10px 0;
    box-shadow: 0 0 10px white;
    border-radius: 8px;
background: url(https://i.pinimg.com/564x/b4/04/57/b404573e6c733c4e43acec9ddd29864a.jpg);
    background-position-y: center;
    filter: hue-rotate(333deg);
    text-shadow: 2px 2px black;
}

.profile .url-info{
background: url(https://i.pinimg.com/564x/2e/39/b6/2e39b60df16726f9af4d79dee5bb0688.jpg);
    height: 303px;
    font-size: 0;
}

.details-table td:first-child {
    background: #b3e4ff59;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 33%;
}

.details-table td {
    background: #bbddef7a;
    vertical-align: top;
    border-radius: 8px;
}

.profile-info {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    margin-bottom: 10px;
}

.blog-preview {
    text-shadow: 2px 2px black;
}

.profile .blurbs .heading, .profile .friends .heading, .profile .table-section .heading, .setting-section .heading, .home-actions .heading, .profile .contact .heading {
    background: white;
    color: black;
    padding: 2px 7px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    text-shadow: none;
}

.profile .blurbs {
    margin: 20px 0;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
background: url(https://i.pinimg.com/736x/f3/e7/6d/f3e76d9c70935b5adca61a00aa963621.jpg);
    text-shadow: 2px 2px black;
}

.profile .blurbs .section h4 {
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}

.friends {
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px black;
background: url(https://i.pinimg.com/564x/41/b7/1c/41b71ce4a63d75f250c06c98dadaff8c.jpg);
}

.profile .friends .person p {
    color: white;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 100%;
    text-align: center;
}

.count {
    color: #90daff;
}

tbody {
    border: transparent;
}

.comments-table td:first-child, .music-table td:first-child {
    background: #b3e4ff59;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 33%;
}

.comments-table td, .music-table td {
    background: #bbddef7a;
    vertical-align: top;
    border-radius: 8px;
}

table.comments-table, table.music-table, table.bulletin-table, table.forum-table, table.groups-table {
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    border: none;
}

.comment-replies {
    padding: 0 5px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background: #badcef6b;
}

footer {
    text-align: center;
    font-size: 70%;
    margin: 10px 0 10px;
    padding: 10px 5px;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px black;
}


.online {
    color: #0C8C00;
    text-shadow: none;
    font-weight: bold;
    font-size: 95%;
    filter: saturate(0) brightness(3.5)  drop-shadow(0px 0px 4px black);
}

a {
    color: #66c8e4;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

.icon, .award img {
    display: none;
    height: 1.4em;
    width: 1.4em;
    aspect-ratio: 1/1;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.3em;
    color: rgba(0,0,0,0);
}

</style>

