<style>

@font-face { font-family: "04B_03B"; src: url('http://dl.dropbox.com/s/1a8j9ii5han03tc90kie7/04B_03B_.TTF?rlkey=nlk8ov2jg2yovp1lz6lybulxk&dl=0'); } body { font-family: '04B_03B'; }

body{
background: url(https://img.itch.zone/aW1nLzUyMzgzMTMuZ2lm/x200/e%2BhmI%2B.gif);
background-size: contain;
}

nav .top {
    background: black;
    padding: 15px 10px 14px 10px;
    position: relative;
    margin-top: 20px;
    border: 2px solid red;
    color: red;
}

.logo {
content:url("https://cdn.discordapp.com/attachments/859229634424209439/1155462607982047233/Untitled491_20230924211508.png");
}

button, input {
    overflow: visible;
    background: black;
    border: 2px solid red;
    color: red;
}

.logout-btn {
    font-family: inherit;
    color: red;
}

nav .links {
    background-color: black;
    padding: 3.5px 16px;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    border: 2px solid red;
    text-align: center;
}

nav .links a {
    text-decoration: none;
    color: red;
    text-shadow: none;
    font-size: 0.98em;
    font-size: max(0.98em, 12px);
}

nav .links .special a {
    color: red;
}

nav .links a:hover {
    text-decoration: none;
    color: darkred;
    text-transform: uppercase;
}

nav .links li:not(:last-child)::after, footer .links li:not(:last-child)::after {
    content: " | ";
    color: red;
}

main {
    background: black;
    color: red;
    padding: 6px 5px;
    font-size: 80%;
    border: 2px solid red;
}

span {
    text-align: center;
    text-transform: uppercase;
    font-size: large;
}

.edit-link {
    font-size: 90%;
    text-align: center;
}

.profile .mood {
    width: 100%;
    display: inline-block;
    text-align: center;
    border: 2px solid red;
    padding: 10px 2px 5px 2px;
    margin-bottom: 10px;
}

.online {
    content: url(https://www.myspacegens.com/images/online_now/3.gif);
filter: invert(1) hue-rotate(208deg) saturate(3.5);
}

.profile .contact .heading, .profile .table-section .heading, .setting-section .heading, .home-actions .heading {
    background: black;
    color: red;
    padding: 2px 7px;
    border-bottom: 2px solid red;
    text-align: center;
}

.profile .contact, .profile .url-info, .profile .table-section, .setting-section, .home-actions {
    width: 100%;
    border: 2px solid red;
    margin: 10px 0;
}

.icon, .award img {
    display: none;
}

.f-col:before {
    content: "X";
    padding: 4px;
}

.details-table td:first-child {
    background: black;
    color: red;
    font-weight: bold;
    width: 33%;
    border: 2px solid red;
}

.details-table td {
    background: black;
    vertical-align: top;
    border: 2px solid red;
}

.url-info{
font-size: 0px;
background: url(https://cdn.discordapp.com/attachments/859229634424209439/1155473698913013770/Screenshot_20230924_215915.png);
    height: 150px;
    background-position: center;
background-size: contain;
border: none!important;
    filter: hue-rotate(21deg) brightness(4.5);
}

.profile-info{
background: url(https://img.itch.zone/aW1nLzQxMjkxMTkucG5n/original/e8X%2BH3.png);
    background-size: cover;
    height: 247px;
    filter: hue-rotate(64deg);
    font-size: 0px;
}

.blog-preview p {
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}

.profile .blurbs .heading, .profile .friends .heading {
    background: black;
    color: red;
    padding: 2px 7px;
    text-align: center;
    border: 2px solid red;
}

.profile .blurbs .inner, .profile .friends .inner, .blog-entry .comments .inner, .bulletin .comments .inner, .setting-section .inner {
    padding: 7px;
    border: 2px solid red;
    margin-top: 10px;
}


.profile .blurbs .section h4 {
    margin: 0;
    color: red;
    text-align: center;
    border: 2px solid;
    text-transform: uppercase;
}

.heading{
    text-transform: uppercase;
}

.heading:after {
    content: "...";
}

.count {
    color: red;
    font-size: smaller;
}

a {
    color: red;
    text-decoration: none;
}

a:hover, a:active, .blog-entry .kudos-btn:hover, .blog-entry .kudos-btn:active {
    color: darkred;
    text-decoration: none;
    text-transform: uppercase;
}

.profile .friends .person p {
    color: red;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 100%;
    text-align: center;
}

.profile .friends .person img:not(.icon) {
    max-width: 95px;
    max-height: 95px;
    display: block;
    margin: 0 auto;
    border: 2px solid red;
}

div#comments {
    margin-top: 10px;
}

table.comments-table, table.music-table, table.bulletin-table, table.forum-table, table.groups-table {
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    border: transparent;
}

.comments-table td:first-child, .music-table td:first-child {
    background: black;
    text-align: center;
    font-weight: bold;
    width: 38%;
    border: 2px solid red;
}

.comments-table td, .music-table td {
    background: black;
    vertical-align: top;
    border: 2px solid red;
    border-left: none;
}

.comment-replies {
    padding: 0 5px;
    border: 2px solid red;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-size: 70%;
    margin: 10px 0 10px;
    padding: 10px 5px;
    background-color: black;
    color: red;
    border: 2px solid red;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
BACKGROUND-COLOR: black;
}
::-webkit-scrollbar-track {
    width: 2px;
    border: 1px solid red;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: darkred;  
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(https://media.tenor.com/dxA2j-gsp4oAAAAC/glitch-static.gif);
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: color-dodge;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;} /* End https://www.cursors-4u.com */


</style>

