<style>

body{
background: url(https://i.ytimg.com/vi/bxSIvXBYY-Q/maxresdefault.jpg);
    background-size: contain;
}

nav .top{
background: url(https://i1.sndcdn.com/visuals-000029945120-QY5DZA-original.jpg);
    background-size: cover;
    background-position-x: -153px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    margin-bottom: 10px;
}

nav .links{
background: url(https://i1.sndcdn.com/visuals-000029945120-QY5DZA-original.jpg);
    background-size: cover;
    background-position-x: -153px;
    background-position-y: center;
    border: 1px solid white;
    box-shadow: 0 0 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

nav .links li:not(:last-child)::after, footer .links li:not(:last-child)::after {
    content: " 击 ";
    color: white;
}

nav .links a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #00295c;
    font-size: max(0.98em, 12px);
}

nav .links a:hover {
    text-decoration: none;
    color: #09345c;
    text-shadow: none;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold!important;
    background: #ffffff78;
    padding: 0px 5px 0px 5px;
    border-radius: 8px;
}

nav .links .special a {
    color: white;
}

main {
    background: #0267ab;
    color: white;
    padding: 6px 11px;
    font-size: 80%;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}

nav .links .icon {
    vertical-align: -0.41em;
    filter: hue-rotate(169deg);
}

.profile h1 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    border: 2px solid white;
    text-align: center;
    border-radius: 8px;
    padding: 4px 0px 4px 0px;
}

.edit-link {
    font-size: 90%;
    text-align: center;
}

.online {
    color: white;
    font-weight: bold;
    font-size: 95%;
    filter: grayscale(1) brightness(4.5) drop-shadow(0px 0px 4px white);
}

a {
    color: white;
    font-style: italic;
    text-decoration: underline;
    text-decoration-line: line-through;
}

a:hover, a:active, .blog-entry .kudos-btn:hover, .blog-entry .kudos-btn:active {
    color: #03406a;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff66;
    padding: 0 4px 0 4px;
    border-radius: 8px;
}

.profile .contact .heading, .profile .table-section .heading, .setting-section .heading, .home-actions .heading {
    background: transparent;
    color: white;
    padding: 2px 7px;
    text-align: center;
    border-bottom: 1px solid white;
}

.profile .contact, .profile .url-info, .profile .table-section, .setting-section, .home-actions {
    width: 100%;
    border: 1px solid white;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

.profile .mood {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}

.details-table td:first-child {
    background: #03416a;
    color: white;
    font-weight: bold;
    width: 33%;
    border-radius: 8px;
    padding: 8px;
}

.details-table td {
    background: #094f7d;
    vertical-align: top;
    border-radius: 8px;
    padding: 8px;
}

.profile-info{
background: url(https://i.pinimg.com/564x/50/9c/ca/509ccad2361c961a90228e54876cd061.jpg);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    filter: brightness(1.5);
    justify-content: flex-start;
    padding-left: 44px;
}

.blog-preview p {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.contact{
background: url(https://i.pinimg.com/236x/36/7a/25/367a257edf7f3e81045d32794396cde9.jpg);
}

.blurbs{
background: url(https://i.pinimg.com/564x/0d/14/e5/0d14e5b855bd3a2264908b7943c6944f.jpg);
    background-position-y: center;
}

.profile .blurbs {
    margin: 20px 0;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

.profile .blurbs .heading, .profile .friends .heading {
    background: transparent;
    color: white;
    padding: 2px 7px;
    border-bottom: 1px solid;
    text-align: center;
}

.profile .blurbs .section h4 {
    margin: 0;
    color: white;
}

.friends{
background: url(https://i.pinimg.com/564x/45/42/15/454215047936011ff04b367e108ee759.jpg);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    margin-bottom: 20px;
    background-position-y: center;
}

.friends a {
    padding: 0px;
}

.profile .friends .person p {
    color: white;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 100%;
    text-align: center;
}

.count {
    color: #ffffff;
}

tbody {
    border: transparent;
}

.comments-table td:first-child, .music-table td:first-child {
    background: #03416a;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    width: 38%;
}

table.comments-table, table.music-table, table.bulletin-table, table.forum-table, table.groups-table {
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    border: none;
}

.comments-table td, .music-table td {
    background: #094f7d;
    vertical-align: top;
    border-radius: 8px;
}

.comment-replies {
    padding: 0 5px;
    border: none;
    margin-top: 10px;
    background: #03416a;
    border-radius: 8px;
}

footer {
    text-align: center;
    font-size: 70%;
    margin: 10px 0 10px;
    padding: 10px 5px;
    background-color: #0267ab;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
BACKGROUND-COLOR: white;
}
::-webkit-scrollbar-track {
    width: 2px;
    border: 1px solid #0267ab;
}
::-webkit-scrollbar-thumb {
    background: #0267ab;
}
::-webkit-scrollbar-thumb:hover {
    background: #0267ab;  
}

.contact .icon {
    display: none;
}

.f-col:before {
    content: "击";
}

.url-info{
background: url(https://i.pinimg.com/736x/ab/82/64/ab8264768bafd11f2465690ef42ac6e6.jpg);
    font-size: 0;
    height: 298px;
    background-size: cover;
}

.profile .friends .person img:not(.icon) {
    max-width: 95px;
    max-height: 95px;
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(https://i.pinimg.com/564x/d9/20/72/d920721f2dbd2785ff702a559ddf14b3.jpg);
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: overlay;
    background-size: 222px;
    opacity: 0.6;
}
}

</style>

